<div class="user-details">
  <h1> 个人随记 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 关于项目 </h3>
    <ul>
      <li> 我的项目</li>
    </ul>
    <p>这里是一些我自己完整的项目文件，主要包括软件工程专业课程学习过程中的课程代码、还有少量科研过程产生的代码（心电诊断模型以及细胞分割染色问题），欢迎访问我的github主页</p>
    <a class="project-link" href="https://github.com/majinhai041214">访问我的Github</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 个人随记 </h3>
    <ul>
      <li> 我的小想法</li>
    </ul>
    <p>这部分内容会记录一些自己在平时学习过程遇到的问题，涵盖笔记整理等内容，偶尔也会有一些自己的心得感悟</p>
    <a class="project-link" href="{{ site.baseurl }}/blog">查看博客</a>
  </div>
</div>
